--
-- PostgreSQL database dump
--

\restrict dDsmnNCOxW8mdyGO2z5lnsDZHYmoxFcuztSUosALxWPPY0Smi5PhSAOwZAHlArz

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO shopuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO shopuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO shopuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO shopuser;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO shopuser;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO shopuser;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO shopuser;

--
-- Name: catalog_bundle; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.catalog_bundle (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    slug character varying(50) NOT NULL,
    bundle_price numeric(10,2) NOT NULL,
    active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    image character varying(100)
);


ALTER TABLE public.catalog_bundle OWNER TO shopuser;

--
-- Name: catalog_bundle_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.catalog_bundle ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_bundle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_bundle_products; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.catalog_bundle_products (
    id bigint NOT NULL,
    bundle_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.catalog_bundle_products OWNER TO shopuser;

--
-- Name: catalog_bundle_products_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.catalog_bundle_products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_bundle_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_bundleimage; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.catalog_bundleimage (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    bundle_id bigint NOT NULL
);


ALTER TABLE public.catalog_bundleimage OWNER TO shopuser;

--
-- Name: catalog_bundleimage_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.catalog_bundleimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_bundleimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_category; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.catalog_category (
    id bigint NOT NULL,
    name character varying(120) NOT NULL,
    slug character varying(50) NOT NULL,
    description text,
    created_at timestamp with time zone NOT NULL,
    parent_id bigint
);


ALTER TABLE public.catalog_category OWNER TO shopuser;

--
-- Name: catalog_category_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.catalog_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalog_product; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.catalog_product (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    slug character varying(50) NOT NULL,
    sku character varying(64) NOT NULL,
    price numeric(10,2) NOT NULL,
    discount_price numeric(10,2),
    description text NOT NULL,
    image character varying(100),
    stock integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    category_id bigint NOT NULL,
    attributes jsonb,
    size_chart jsonb
);


ALTER TABLE public.catalog_product OWNER TO shopuser;

--
-- Name: catalog_product_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.catalog_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalog_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coupons_coupon; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.coupons_coupon (
    id bigint NOT NULL,
    code character varying(40) NOT NULL,
    percent_off integer NOT NULL,
    max_uses integer NOT NULL,
    used integer NOT NULL,
    active boolean NOT NULL,
    starts_at timestamp with time zone NOT NULL,
    ends_at timestamp with time zone,
    CONSTRAINT coupons_coupon_max_uses_check CHECK ((max_uses >= 0)),
    CONSTRAINT coupons_coupon_percent_off_check CHECK ((percent_off >= 0)),
    CONSTRAINT coupons_coupon_used_check CHECK ((used >= 0))
);


ALTER TABLE public.coupons_coupon OWNER TO shopuser;

--
-- Name: coupons_coupon_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.coupons_coupon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coupons_coupon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO shopuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO shopuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO shopuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO shopuser;

--
-- Name: orders_cartitem; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.orders_cartitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id integer NOT NULL,
    CONSTRAINT orders_cartitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_cartitem OWNER TO shopuser;

--
-- Name: orders_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.orders_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_order; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.orders_order (
    id bigint NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    address text,
    tracking_code character varying(64),
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.orders_order OWNER TO shopuser;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.orders_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderitem; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.orders_orderitem (
    id bigint NOT NULL,
    price numeric(10,2) NOT NULL,
    quantity integer NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT orders_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_orderitem OWNER TO shopuser;

--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.orders_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: support_ticket; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.support_ticket (
    id bigint NOT NULL,
    subject character varying(200) NOT NULL,
    message text NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.support_ticket OWNER TO shopuser;

--
-- Name: support_ticket_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.support_ticket ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.support_ticket_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: support_ticketreply; Type: TABLE; Schema: public; Owner: shopuser
--

CREATE TABLE public.support_ticketreply (
    id bigint NOT NULL,
    message text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    ticket_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.support_ticketreply OWNER TO shopuser;

--
-- Name: support_ticketreply_id_seq; Type: SEQUENCE; Schema: public; Owner: shopuser
--

ALTER TABLE public.support_ticketreply ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.support_ticketreply_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: shopuser
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$600000$aC1NM5H37NbT56SZxQBSxr$1abKhO8zTG5NJM4iUEZWLsJQgRV7M19Vjh7Jqew/Tg8=	2025-09-03 16:10:48.597808+00	t	admin			admin@example.com	t	t	2025-09-02 18:22:04.716471+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
\.


--
-- Data for Name: catalog_bundle; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.catalog_bundle (id, title, slug, bundle_price, active, created_at, image) FROM stdin;
1	╪│╪¬ ┘ç┘ê╪»█î ┘ê ╪┤┘ä┘ê╪º╪▒	st-hod-o-shlor	1200000.00	t	2025-09-03 04:42:52.280599+00	\N
3	╪│╪¬ ╪┤┘ä┘ê╪º╪▒ ┘ê ┌⌐┘ü╪┤	st-shlor-o-fsh	2000000.00	t	2025-09-03 16:35:58.716013+00	\N
4	╪│╪¬ ╪º┌⌐╪│╪│┘ê╪▒█î	st-ssor	5000000.00	t	2025-09-03 16:36:25.749872+00	bundles/photo20623512890-768x1024.jpg
\.


--
-- Data for Name: catalog_bundle_products; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.catalog_bundle_products (id, bundle_id, product_id) FROM stdin;
1	1	1
2	1	2
5	3	1
6	3	2
7	4	1
8	4	2
\.


--
-- Data for Name: catalog_bundleimage; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.catalog_bundleimage (id, image, bundle_id) FROM stdin;
1	bundles/gallery/photo20623513314-600x800.jpg	4
2	bundles/gallery/photo20623513151-600x800.jpg	4
\.


--
-- Data for Name: catalog_category; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.catalog_category (id, name, slug, description, created_at, parent_id) FROM stdin;
1	┘ç┘ê╪»█î	hod		2025-09-02 19:03:12.168856+00	\N
\.


--
-- Data for Name: catalog_product; Type: TABLE DATA; Schema: public; Owner: shopuser
--



--
-- Data for Name: coupons_coupon; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.coupons_coupon (id, code, percent_off, max_uses, used, active, starts_at, ends_at) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: shopuser
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	authtoken	token
8	authtoken	tokenproxy
9	catalog	category
10	catalog	product
11	catalog	bundle
12	orders	cartitem
13	orders	order
14	orders	orderitem
15	coupons	coupon
16	support	ticket
17	support	ticketreply
18	catalog	bundleimage
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: shopuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: shopuser
--



--
-- Data for Name: orders_cartitem; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.orders_cartitem (id, quantity, created_at, product_id, user_id) FROM stdin;
\.


--
-- Data for Name: orders_order; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.orders_order (id, total_amount, status, address, tracking_code, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: orders_orderitem; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.orders_orderitem (id, price, quantity, order_id, product_id) FROM stdin;
\.


--
-- Data for Name: support_ticket; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.support_ticket (id, subject, message, status, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: support_ticketreply; Type: TABLE DATA; Schema: public; Owner: shopuser
--

COPY public.support_ticketreply (id, message, created_at, ticket_id, user_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: catalog_bundle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.catalog_bundle_id_seq', 4, true);


--
-- Name: catalog_bundle_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.catalog_bundle_products_id_seq', 8, true);


--
-- Name: catalog_bundleimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.catalog_bundleimage_id_seq', 2, true);


--
-- Name: catalog_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.catalog_category_id_seq', 1, true);


--
-- Name: catalog_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.catalog_product_id_seq', 2, true);


--
-- Name: coupons_coupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.coupons_coupon_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 15, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 29, true);


--
-- Name: orders_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.orders_cartitem_id_seq', 1, false);


--
-- Name: orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.orders_order_id_seq', 1, false);


--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.orders_orderitem_id_seq', 1, false);


--
-- Name: support_ticket_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.support_ticket_id_seq', 1, false);


--
-- Name: support_ticketreply_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shopuser
--

SELECT pg_catalog.setval('public.support_ticketreply_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: catalog_bundle catalog_bundle_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_bundle
    ADD CONSTRAINT catalog_bundle_pkey PRIMARY KEY (id);


--
-- Name: catalog_bundle_products catalog_bundle_products_bundle_id_product_id_de095623_uniq; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_bundle_products
    ADD CONSTRAINT catalog_bundle_products_bundle_id_product_id_de095623_uniq UNIQUE (bundle_id, product_id);


--
-- Name: catalog_bundle_products catalog_bundle_products_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_bundle_products
    ADD CONSTRAINT catalog_bundle_products_pkey PRIMARY KEY (id);


--
-- Name: catalog_bundle catalog_bundle_slug_key; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_bundle
    ADD CONSTRAINT catalog_bundle_slug_key UNIQUE (slug);


--
-- Name: catalog_bundleimage catalog_bundleimage_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_bundleimage
    ADD CONSTRAINT catalog_bundleimage_pkey PRIMARY KEY (id);


--
-- Name: catalog_category catalog_category_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_category
    ADD CONSTRAINT catalog_category_pkey PRIMARY KEY (id);


--
-- Name: catalog_category catalog_category_slug_key; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_category
    ADD CONSTRAINT catalog_category_slug_key UNIQUE (slug);


--
-- Name: catalog_product catalog_product_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_pkey PRIMARY KEY (id);


--
-- Name: catalog_product catalog_product_sku_key; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_sku_key UNIQUE (sku);


--
-- Name: catalog_product catalog_product_slug_key; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_slug_key UNIQUE (slug);


--
-- Name: coupons_coupon coupons_coupon_code_key; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.coupons_coupon
    ADD CONSTRAINT coupons_coupon_code_key UNIQUE (code);


--
-- Name: coupons_coupon coupons_coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.coupons_coupon
    ADD CONSTRAINT coupons_coupon_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: orders_cartitem orders_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_pkey PRIMARY KEY (id);


--
-- Name: orders_order orders_order_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_pkey PRIMARY KEY (id);


--
-- Name: orders_orderitem orders_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_pkey PRIMARY KEY (id);


--
-- Name: support_ticket support_ticket_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.support_ticket
    ADD CONSTRAINT support_ticket_pkey PRIMARY KEY (id);


--
-- Name: support_ticketreply support_ticketreply_pkey; Type: CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.support_ticketreply
    ADD CONSTRAINT support_ticketreply_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: catalog_bundle_products_bundle_id_5c17d710; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX catalog_bundle_products_bundle_id_5c17d710 ON public.catalog_bundle_products USING btree (bundle_id);


--
-- Name: catalog_bundle_products_product_id_83b2e925; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX catalog_bundle_products_product_id_83b2e925 ON public.catalog_bundle_products USING btree (product_id);


--
-- Name: catalog_bundle_slug_21f0c082_like; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX catalog_bundle_slug_21f0c082_like ON public.catalog_bundle USING btree (slug varchar_pattern_ops);


--
-- Name: catalog_bundleimage_bundle_id_6a371258; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX catalog_bundleimage_bundle_id_6a371258 ON public.catalog_bundleimage USING btree (bundle_id);


--
-- Name: catalog_category_parent_id_f61bd017; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX catalog_category_parent_id_f61bd017 ON public.catalog_category USING btree (parent_id);


--
-- Name: catalog_category_slug_dbf63ad0_like; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX catalog_category_slug_dbf63ad0_like ON public.catalog_category USING btree (slug varchar_pattern_ops);


--
-- Name: catalog_product_category_id_35bf920b; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX catalog_product_category_id_35bf920b ON public.catalog_product USING btree (category_id);


--
-- Name: catalog_product_sku_5c54c070_like; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX catalog_product_sku_5c54c070_like ON public.catalog_product USING btree (sku varchar_pattern_ops);


--
-- Name: catalog_product_slug_f37848b0_like; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX catalog_product_slug_f37848b0_like ON public.catalog_product USING btree (slug varchar_pattern_ops);


--
-- Name: coupons_coupon_code_40174643_like; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX coupons_coupon_code_40174643_like ON public.coupons_coupon USING btree (code varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: orders_cartitem_product_id_55063ee7; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX orders_cartitem_product_id_55063ee7 ON public.orders_cartitem USING btree (product_id);


--
-- Name: orders_cartitem_user_id_78cc55ab; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX orders_cartitem_user_id_78cc55ab ON public.orders_cartitem USING btree (user_id);


--
-- Name: orders_order_user_id_e9b59eb1; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX orders_order_user_id_e9b59eb1 ON public.orders_order USING btree (user_id);


--
-- Name: orders_orderitem_order_id_fe61a34d; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX orders_orderitem_order_id_fe61a34d ON public.orders_orderitem USING btree (order_id);


--
-- Name: orders_orderitem_product_id_afe4254a; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX orders_orderitem_product_id_afe4254a ON public.orders_orderitem USING btree (product_id);


--
-- Name: support_ticket_user_id_d7c9336a; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX support_ticket_user_id_d7c9336a ON public.support_ticket USING btree (user_id);


--
-- Name: support_ticketreply_ticket_id_743264cf; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX support_ticketreply_ticket_id_743264cf ON public.support_ticketreply USING btree (ticket_id);


--
-- Name: support_ticketreply_user_id_215a9026; Type: INDEX; Schema: public; Owner: shopuser
--

CREATE INDEX support_ticketreply_user_id_215a9026 ON public.support_ticketreply USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_bundle_products catalog_bundle_produ_product_id_83b2e925_fk_catalog_p; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_bundle_products
    ADD CONSTRAINT catalog_bundle_produ_product_id_83b2e925_fk_catalog_p FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_bundle_products catalog_bundle_products_bundle_id_5c17d710_fk_catalog_bundle_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_bundle_products
    ADD CONSTRAINT catalog_bundle_products_bundle_id_5c17d710_fk_catalog_bundle_id FOREIGN KEY (bundle_id) REFERENCES public.catalog_bundle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_bundleimage catalog_bundleimage_bundle_id_6a371258_fk_catalog_bundle_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_bundleimage
    ADD CONSTRAINT catalog_bundleimage_bundle_id_6a371258_fk_catalog_bundle_id FOREIGN KEY (bundle_id) REFERENCES public.catalog_bundle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_category catalog_category_parent_id_f61bd017_fk_catalog_category_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_category
    ADD CONSTRAINT catalog_category_parent_id_f61bd017_fk_catalog_category_id FOREIGN KEY (parent_id) REFERENCES public.catalog_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: catalog_product catalog_product_category_id_35bf920b_fk_catalog_category_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.catalog_product
    ADD CONSTRAINT catalog_product_category_id_35bf920b_fk_catalog_category_id FOREIGN KEY (category_id) REFERENCES public.catalog_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cartitem orders_cartitem_product_id_55063ee7_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_product_id_55063ee7_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_cartitem orders_cartitem_user_id_78cc55ab_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.orders_cartitem
    ADD CONSTRAINT orders_cartitem_user_id_78cc55ab_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_user_id_e9b59eb1_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_user_id_e9b59eb1_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_order_id_fe61a34d_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_order_id_fe61a34d_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_product_id_afe4254a_fk_catalog_product_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_product_id_afe4254a_fk_catalog_product_id FOREIGN KEY (product_id) REFERENCES public.catalog_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: support_ticket support_ticket_user_id_d7c9336a_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.support_ticket
    ADD CONSTRAINT support_ticket_user_id_d7c9336a_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: support_ticketreply support_ticketreply_ticket_id_743264cf_fk_support_ticket_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.support_ticketreply
    ADD CONSTRAINT support_ticketreply_ticket_id_743264cf_fk_support_ticket_id FOREIGN KEY (ticket_id) REFERENCES public.support_ticket(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: support_ticketreply support_ticketreply_user_id_215a9026_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: shopuser
--

ALTER TABLE ONLY public.support_ticketreply
    ADD CONSTRAINT support_ticketreply_user_id_215a9026_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict dDsmnNCOxW8mdyGO2z5lnsDZHYmoxFcuztSUosALxWPPY0Smi5PhSAOwZAHlArz

